#header {
	margin-top: 50px;
	height: 240px;
	background-color: #3F51B5;
    font-size: 0px;
}
	
	h1#start {
		padding-top: 70px;
    	padding-left: 14px;
		margin: 0;
    	font-size: 50px;
    	color: #FFFFFF;
  		display: flex;
	}

	h2#start {
    	padding-left: 14px;
		margin-bottom: 0;
		margin-top: 0;
    	font-size: 26px;
    	color: #C5CAE9;
	}

#section {
	height: auto;
	background-color: #FAFAFA;
	padding-bottom: 90px;
	padding-top: 70px;
}

	#section h2 {
    	display: inline-block;
    	padding-left: 15px;
    	padding-right: 15px;
		margin-bottom: 0;
		margin-top: 0;
    	color: #000000;
    	height: 50px;
    	line-height: 50px;
    	white-space: nowrap;
	}

	#section p {
		margin-top: 0;
    	padding-left: 15px;
    	padding-right: 15px;
    	line-height: 1.5;
    	color: #555;
		margin-bottom: 30px;
	}
	
	.button {
		margin-left: 15px;
		padding: 12px 17px;
    	border-style: solid;
    	border-width: 1px;
    	border-radius: 5px;
		border-color: #3F51B5;
    	font-size: 17px;
		color: #3F51B5;
	}
	
	.button:hover {
		background-color: #3F51B5;
		color: #FFFFFF;
	}
	
	.button:active {	
		color: #FFFFFF;
	}
	
	.link {
		color: #337ab7;
	}
	
	.link:hover {
    	text-decoration: underline;
    	color: #1e476a;	
	}

	.link:active {
    	color: #1e476a;
	}
