#header {
  margin-top: 50px;
  height: 240px;
  background-color: #3F51B5;
  font-size: 0px;
}

h1#start {
  padding-top: 70px;
  padding-left: 14px;
  margin: 0;
  font-size: 50px;
  color: #FFFFFF;
  display: flex;
}

h2#start {
  padding-left: 14px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 26px;
  color: #C5CAE9;
}

#section {
  height: auto;
  background-color: #FAFAFA;
  padding-bottom: 80px;
  padding-top: 30px;
}

#section1 {
  margin-top: 50px;
}

div.section {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

h1.section-title {
  margin: 0;
  font-size: 34px;
  color: #3F51B5;
}

h2.section-subtitle {
  margin: 50px 0 30px 0;
  font-size: 24px;
  color: #3F51B5;
}

p {
  color: #474747;
  line-height: 24px;
  font-size: 16px;
  margin: 0;
}

.project-image {
  margin-bottom: 30px;
}

#section-overview {
  display: inline-block;
  margin-left: 80px;
  padding-top: 30px;
  height: 300px;
  width: 300px;
  text-color: #555;
}

#section-overview a {
  display: block;
  padding-left: 14px;
  padding-top: 14px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

#section-overview a:hover {
  color: #F50057;
}

.normal {
  font-weight: normal;
  color: #555;
}

.absolute {
  top: 0;
  position: absolute;
}

.fixed {
  margin-top: -280px;
  position: fixed;
}

.padding-left {
  padding-left: 14px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 991px) {

	#header {
		margin-top: 100px;
	}

  #section-overview {
    display: none;
  }


  h1#start {
    padding-left: 80px;
    padding-right: 80px;
  }


  h2#start {
    padding-left: 80px;
    padding-right: 80px;
  }
	#section {
	  padding-left: 80px;
	  padding-right: 80px;
	}
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

	#header {
		margin-top: 50px;
	}

  #section-overview {
    display: inline-block;
  }


  h1#start {
    padding-left: 14px;
    padding-right: 0px;
  }


  h2#start {
    padding-left: 14px;
    padding-right: 0px;
  }
	#section {
	  padding-left: 0px;
	  padding-right: 0px;
	}
}
