#header {
	margin-top: 50px;
	height: 460px;
	background-color: #3F51B5;
    font-size: 0px;
}
	
	#avatar-holder {
		margin-left: auto;
		margin-right: auto;
		margin-top: 70px;
		width: 300px;
	}

	#avatar {
		width: 300px;
		height: 300px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
	}
	
	h1#welcome {
		padding-top: 140px;
    	padding-left: 0px;
    	padding-right: 0px;
		margin: 0;
    	font-size: 50px;
    	color: #FFFFFF;
	}

	h2#welcome {
    	padding-left: 0px;
    	padding-right: 85px;
		margin: 0;
    	font-size: 26px;
    	color: #C5CAE9;
	}

#section {
	height: auto;
	background-color: #FAFAFA;
	padding-bottom: 50px;
	padding-top: 50px;
}

	img.image {
		width: 300px;
	}

	#section p {
    	font-size: 13px;
    	color: #212121;
		line-height: 24px;
	}

	h2.section-title {
		padding: 0;
		margin-bottom: 30px;
    	font-size: 24px;
    	color: #3F51B5;
	}

	h3.skills {
		padding: 0;
		margin-top: 30px;
		margin-bottom: 20px;
    	font-size: 15px;
    	color: #000000;
	}

		.chip {
			display: inline-block;
    		border-radius: 15px;
    		background: #e6e6e6;
    		padding-top: 8px;
    		padding-bottom: 8px;
    		padding-left: 15px;
    		padding-right: 15px;
			margin-right: 8px;
			font-size: 14px;
			color: #666;
		}
		.chip-weight {
			
		}
