#header {
	margin-top: 50px;
	height: 200px;
	background-color: #3F51B5;
    font-size: 0px;
    padding-bottom: 50px;
}

ul {
	padding-left: 0px;
}
	
	h1#start {
		margin: 0;
    	top: -90px;
    	font-size: 50px;
    	color: #FFFFFF;
  		display: flex;
  		position: absolute;
	}

	h2#start {
		padding: 40px;
		margin-bottom: 0;
		margin-top: 0;
    	font-size: 24px;
    	color: #3C4584;
    	line-height: 36px;
	}


#card { 
    border-radius: 3px;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    width: 770px; 
    height: 160px;
    top: -160px;
    margin-bottom: -120px;
    position: relative;
}

#card-separator {
	height: 1px;
	background-color: #DDDDDD;
}

#section {
	height: auto;
	background-color: #FAFAFA;
	padding-bottom: 90px;
	padding-top: 70px;
}

	#section p {
		margin-top: 0;
    	line-height: 1.5;
    	color: #555;
		margin-bottom: 30px;
	}
	
	.button {
		margin-left: 15px;
		padding: 12px 17px;
    	border-style: solid;
    	border-width: 1px;
    	border-radius: 5px;
		border-color: #3F51B5;
    	font-size: 17px;
		color: #3F51B5;
	}
	
	.button:hover {
		background-color: #3F51B5;
		color: #FFFFFF;
	}
	
	.button:active {	
		color: #FFFFFF;
	}
	
	.link {
		color: #337ab7;
	}
	
	.link:hover {
    	text-decoration: underline;
    	color: #1e476a;	
	}

	.link:active {
    	color: #1e476a;
	}
