</div>
	</div>

	<div id="footer">
		<div class="container">
			<div class="social-middle">
				<div class="grid__col grid__col--1-of-5 center-text">
					<a class="social-image" href="https://www.quora.com/Andrei-Masin" id="qu" target="_blank"></a>
				</div>
				<div class="grid__col grid__col--1-of-5 center-text">
					<a class="social-image" href="https://github.com/McVlaga" id="gh" target="_blank"></a>
				</div>
				<div class="grid__col grid__col--1-of-5 center-text">
					<a class="social-image" href="https://www.upwork.com/o/profiles/users/_~0111453c99603ce0af/" id="up" target="_blank"></a>
				</div>
				<div class="grid__col grid__col--1-of-5 center-text">
					<a class="social-image" href="https://www.linkedin.com/pub/andrei-masin/71/962/441" id="li" target="_blank"></a>
				</div>
				<div class="grid__col grid__col--1-of-5 center-text">
					<a class="social-image" href="http://stackoverflow.com/users/2603280/mcvlaga" id="so" target="_blank"></a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		window.onscroll = function() {
			onScrolled()
		};

		function onScrolled() {
			if (window.scrollY > 240) {
				document.getElementById("nav-bar").className = "shadow";
			} else if (window.scrollY <= 240) {
				document.getElementById("nav-bar").className = "";
			}
		}
	</script>
</body>
